/* line 15, ../sass/style.scss */
html {
  height: 100%;
}

/* line 19, ../sass/style.scss */
body {
  background: url("../images/circle_background.png") repeat right top;
  font-family: Helvetica, Arial, sans-serif;
  margin: -12px;
  position: relative;
  min-height: 100%;
}

/* line 27, ../sass/style.scss */
h2 {
  font-weight: bold;
  font-size: 30px;
  font-variant: small-caps;
  color: #29D6FF;
  margin: 0px;
}

/* line 35, ../sass/style.scss */
h3 {
  font-weight: bold;
  font-size: 24px;
  font-variant: small-caps;
  color: #29D6FF;
  margin: 0px;
}

/* line 43, ../sass/style.scss */
a {
  color: #C781F0;
  text-decoration: none;
}

/* line 48, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 52, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 56, ../sass/style.scss */
.textCenterPage {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
}

/* line 64, ../sass/style.scss */
.name {
  font-weight: bold;
  font-size: 100px;
  font-variant: small-caps;
  color: white;
  text-align: center;
}

/* Header */
/* line 73, ../sass/style.scss */
.header {
  margin: -20px auto;
}

/* line 77, ../sass/style.scss */
.menu {
  text-align: center;
  font-variant: small-caps;
}
/* line 81, ../sass/style.scss */
.menu ul, .menu li {
  display: inline-block;
}
/* line 85, ../sass/style.scss */
.menu a {
  padding: 0px 10px;
  letter-spacing: -1px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}
/* line 95, ../sass/style.scss */
.menu #target {
  position: relative;
}

/* line 100, ../sass/style.scss */
.magic-line {
  position: absolute;
  bottom: -2px;
  height: 2px;
  background: #29D6FF;
}

/* Main Content */
/* line 108, ../sass/style.scss */
.page {
  background-color: rgba(48, 48, 48, 0.85);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 960px;
  height: 100%;
  margin: 40px auto;
}

/* line 116, ../sass/style.scss */
.content {
  padding: 20px;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}
/* line 122, ../sass/style.scss */
.content .lights {
  float: right;
  padding-left: 20px;
}

/* line 128, ../sass/style.scss */
.Home {
  min-height: 320px;
}

/* Contact Info */
/* line 134, ../sass/style.scss */
.fa {
  /*icons*/
  color: #29D6FF;
}

/* line 139, ../sass/style.scss */
.contactCol, .quoteCol {
  float: left;
  padding: 10px;
  width: 45%;
}

/* line 145, ../sass/style.scss */
.quote {
  text-decoration: italic;
  color: #C781F0;
}

/* line 151, ../sass/style.scss */
.contactObject a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

/* Footer */
/* line 160, ../sass/style.scss */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 167, ../sass/style.scss */
.footer {
  width: 100%;
  height: 50px;
}
/* line 171, ../sass/style.scss */
.footer p, .footer a {
  text-align: center;
  text-decoration: none;
  font-variant: small-caps;
  color: white;
}
